$primary-bg-color: transparent;
$primary-font-family: 'Raleway', sans-serif;
$primary-font-size: 28px;
$primary-line-height: 1.6;
$primary-letter-spaceing: 1.5px;
$primary-font-color: #efedf4;
$secondary-font-color: #845ceb;

$colors: 'firebrick' firebrick, 
         'green' lightseagreen, 
         'blue' rgb(46, 174, 216), 
         'orange' rgb(252, 110, 54), 
         'sienna' sienna;